<div class='chat_footer_container'>
  <div class='start_chat_container'>
    <div class='open_chat_list'>
      <button class='open_chat'>Open Chat</button>
    </div>
    <div class='chat_list_container' style='display: none;'>
      <div class='chat_list'></div>
    </div>
  </div>
  <div class='conversations_container'>
  </div>
</div>