<div class='chat-footer-container'>
  <div class='start-chat-container'>
    <div class='open-chat-list'>
      <button class='open-chat'>Open Chat</button>
    </div>
    <div class='chat-list-container'>
      <div class='chat-list'></div>
    </div>
  </div>
  <div class='conversations_container'>
  </div>
</div>