<div class='chat-footer-container'>
  <div class='start-chat-container'>
    <div class='open-chat-list'>
      <button class='open-chat'>Open Chat</button>
    </div>
  </div>
  <div class='conversation-container'>
    test
  </div>
</div>