<div class='chat-footer-container'>
  <div class='start-chat-container'>
    <div class='open-chat-list'>
      <button class='open-chat'>Open Chat</button>
    </div>
    <div class='chat-list-container'>
      <div class='chat-list'></div>
    </div>
  </div>
  <div class='conversation-container'>
    <button> example conversation </button>
    <div> conversation <br> some chat</div>
  </div>
</div>